.layout__footer {
    padding-top: $spacer*3;
    padding-bottom: $spacer*3;
}

@include media-breakpoint-up(lg) {

    .layout__footer {
        padding-top: $spacer*9;
        padding-bottom: $spacer*17;
    }

}

.footer__logo {
    width: 535px;
    height: auto;
}