// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++  Main Nav ++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.home .main-nav {
    position: absolute;
    background-color: transparent;
}

a.link--no-focus {
    &:focus {
        outline: none;
        background-color: transparent;
    }
}


.main-nav {

    background-color: $secondary;

    .nav__skinny-burger {
        width: 28px;
        height: auto;
    }

    .navbar {
        padding: $spacer*1.5 0;
    }

    .navbar-toggler {
        background: transparent;

        .fa-bars {
            color: white;
            font-size: 150%;
            line-height: 1.2;
        }

        &:focus {
            outline: none;
            background-color: $body-color;
        }
    }

    .nav-logo img {
        width: 164px;
        height: auto;
    }


    // style nav anchors
    .navbar-nav .nav-link {
        text-transform: capitalize;
        font-family: $headings-font-family;
        font-weight: 500;
        color: $body-color;
        padding: $spacer*.35;
        font-size: 1.125rem;
    }

    // active link
    .navbar-nav .menu-item.active > .nav-link {
        color: $primary;
        font-weight: 700;
    }

    .main-navigation {
        background-color: lighten($body-color,80%);
    }
    .main-navigation--padding {
        padding: $spacer*.325 $spacer*.65 $spacer*.65;
    }

}

// ************ main-nav lg-up only sizes styles ************ //

@include media-breakpoint-up(lg) {

    .main-nav {

        .nav-logo img {
            width: 248px;
            height: auto;
        }

    }

}
