// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++  Main Nav ++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.home .main-nav {
    position: absolute;
    background-color: transparent;
}

a.link--no-focus {
    &:focus {
        outline: none;
        background-color: transparent;
    }
}


.main-nav {

    background-color: $secondary;

    .nav__skinny-burger {
        width: 28px;
        height: auto;
    }

    .navbar {
        padding: $spacer*1.5 0;
    }

    .navbar-toggler {
        background: transparent;

        .fa-bars {
            color: white;
            font-size: 150%;
            line-height: 1.2;
        }

        &:focus {
            outline: none;
            background-color: $body-color;
        }
    }

    .nav-logo img {
        width: 164px;
        height: auto;
    }

    .navbar-nav .menu-item {
        min-height: $spacer*3;
        display: flex;
        align-items: center;
        border-bottom: 2px solid lighten($secondary,30%);
    }

    // style nav anchors
    .navbar-nav .nav-link {
        text-transform: capitalize;
        font-family: $font-family-sans-serif;
        font-weight: 500;
        color: white;
        font-size: 1rem;
        letter-spacing: 1px;
        padding: $spacer*1.35 $spacer;
        width: 100%;
        border: 0;

    }

    // active link
    .navbar-nav .menu-item.active {
        background-color: $secondary;
    }

    .navbar-nav .menu-item.active > .nav-link {
        color: white;
        font-weight: 700;
    }

    .main-navigation {
        background-color: lighten($body-color,80%);
    }
    .main-navigation--padding {
        padding: 0;
    }

    // dropdown

    .dropdown-menu {
        border: 0;
        background-color: lighten($secondary,35%);
        border-radius: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        transform:translate3d(0, 58px, 0px) !important;
        .navbar-nav .menu-item {
            &:last-of-type {
                border-bottom: none;
            }
        }
    }

}

@include media-breakpoint-up(md) {

    .main-nav {

        .navbar-nav .nav-link {
            padding: $spacer $spacer*1.5;
        }

        .dropdown-menu {
            transform:translate3d(0, 58px, 0px) !important;
        }

    }

}

// ************ main-nav lg-up only sizes styles ************ //

@include media-breakpoint-up(lg) {

    .main-nav {

        .nav-logo img {
            width: 248px;
            height: auto;
        }

        .dropdown-menu {
            transform:translate3d(0, 72px, 0px) !important;
        }
    }

}

@media (min-width: 991.98px) and (max-width: 1440px) {

    .main-nav {
        .dropdown-menu {
            transform:translate3d(0, 60px, 0px) !important;
        }
    }

}



@include media-breakpoint-down(sm) {

    .main-nav {
        .dropdown-menu {
            transform:translate3d(0, 72px, 0px) !important;
        }
    }

}


// ************ bigSlide styles ************ //



.panel {
    background-color: lighten($secondary,15%);
    position: fixed;
    right: -16rem; /*left or right and the width of your navigation panel*/
    width: 16rem; /*should match the above value*/
}

.push {
    position: relative;
}

/*prevent body from scrolling */
.no-scroll {
    overflow: hidden;
}

/* allow the menu to scroll */
.panel {
    overflow-x: scroll;
}

.main-nav .navbar-nav.desktop-only .menu-item.active {
    background-color: #659640;
}
.main-nav .navbar-nav.desktop-only .nav-link {
    padding: 1.2rem 1.2rem;
}
.main-nav .navbar-nav.desktop-only .menu-item {
    border-bottom: none;
    .dropdown-menu .menu-item a.nav-link {
        font-size: .8rem;
    }
}

