// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++  Main Nav ++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.main-nav {

    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-dark .navbar-toggler {
        background: $white;
        outline: none;

        .fa-bars {
            color: $body-color;
            font-size: 150%;
            line-height: 1.2;
        }
    }

    .nav-logo img {
        width: 124px;
        height: auto;
    }


    // style nav anchors
    .navbar-nav .nav-link {
        text-transform: capitalize;
        font-family: $headings-font-family;
        font-weight: 500;
        color: $body-color;
        padding: $spacer*.35;
        font-size: 1.125rem;
    }

    // active link
    .navbar-nav .menu-item.active > .nav-link {
        color: $primary;
        font-weight: 700;
    }

    .main-navigation {
        background-color: lighten($body-color,80%);
    }
    .main-navigation--padding {
        padding: $spacer*.325 $spacer*.65 $spacer*.65;
    }

}

// ************ main-nav lg-up only sizes styles ************ //

@include media-breakpoint-up(lg) {

    .main-nav {

        .nav-logo img {
            width: 248px;
            height: auto;
        }

    }

}
