
.ghostkit-button {
    @extend .btn;
    @extend .btn-primary;
    margin-bottom: $spacer;
}

.ghostkit-ping-pong__content {
    padding-left: 15px;
    padding-right: 15px;

    .ghostkit-col-content {
        margin-left: 0;
        @extend .layout--pingpong--maxwidth;
    }

    .ghostkit-button-wrapper {
        margin-bottom: 0;
    }

}

.order-1.ghostkit-ping-pong__content {
    .ghostkit-col-content {
        margin-left: auto;
    }
}


.ghostkit-col-with-bg {
    max-width: none;
    padding: 0;
    min-height: 364px;
}

@include media-breakpoint-up(md) {


    .alignfull.ghostkit-grid.ghostkit-grid-gap-no {
        padding-bottom: $spacer*4;
    }

    .ghostkit-col-with-bg {
        min-height: 576px;
    }

}


//******* pricing tiers *********//

.ghostkit-pricing-table-item-title {
    margin-left: 26px;
    color: $primary;
}

ul.ghostkit-pricing-table-item-features {
    li {
        margin-left: 26px;
        position: relative;

        &:before {
            position: absolute;
            left: -26px;
            font-family: FontAwesome;
            content: "\f058";
            color: $primary;
        }
    }
}


.basic-extended ul.ghostkit-pricing-table-item-features {
    li {
        &:first-of-type {
            margin-bottom: $spacer;

            &:before {
                font-family: FontAwesome;
                content: "\f055";
            }

        }
    }
}

@include media-breakpoint-between(md, lg) {
    .ghostkit-pricing-table-item-wrap {
        .ghostkit-button {
            padding-left: $spacer;
            padding-right: $spacer;
            width: 100%;
        }
    }
}

@media (min-width: 769px) and (max-width: 991.98px) {
    .basic-height .ghostkit-pricing-table-item {
        min-height: 750px;
        display: flex;
        flex-direction: column;
        .ghostkit-pricing-table-item-button-wrapper,
        .ghostkit-button-wrapper-inner {
            margin-top: auto;
        }
    }
}

@include media-breakpoint-up(lg) {
    .basic-height .ghostkit-pricing-table-item {
        min-height: 630px;
        display: flex;
        flex-direction: column;
        .ghostkit-pricing-table-item-button-wrapper,
        .ghostkit-button-wrapper-inner {
            margin-top: auto;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .basic-height .ghostkit-pricing-table-item {
        min-height: 712px;
    }
}


.wp-image-488 {
    margin-bottom: $spacer*2;
}

.ghostkit-pricing-table-item-description {
    margin-left: 26px;
    font-size: 1.5rem;
    color: $primary;
    margin-top: $spacer;
    font-family: $font-family-serif;
    &:after {
        margin-top: $spacer*.5;
        display: block;
        font-size: .8rem;
        content: 'Management Fee';
    }
}

.ghostkit-pricing-table-item-popular {
    position: relative;
    &:after {
        display: block;
        border-radius: 20px;
        text-align: center;
        position: absolute;
        background-color: darken($soft,10%);
        width: 80%;
        top: -12px;
        left: 10%;
        right: 10%;
        font-weight: bold;
        color: white;
        padding: $spacer*.25 $spacer;
        content: 'Most Popular';
    }
}

@include media-breakpoint-up(lg) {
    .ghostkit-pricing-table-item-popular {
        position: relative;
        &:after {
            top: -15px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .ghostkit-pricing-table-item-popular {
        position: relative;
        &:after {
            top: -18px;
        }
    }
}

.ghostkit-pricing-table-item-popular {

    border: 2px solid darken($soft,10%);

    .btn-primary, .ghostkit-button {
            background-color: darken($soft,10%);
        }
}