
.ghostkit-button {
    @extend .btn;
    @extend .btn-primary;
    margin-bottom: $spacer;
}

.ghostkit-ping-pong__content {
    padding-left: 15px;
    padding-right: 15px;

    .ghostkit-col-content {
        margin-left: 0;
        @extend .layout--pingpong--maxwidth;
    }

    .ghostkit-button-wrapper {
        margin-bottom: 0;
    }

}

.order-1.ghostkit-ping-pong__content {
    .ghostkit-col-content {
        margin-left: auto;
    }
}


.ghostkit-col-with-bg {
        max-width: none;
        padding: 0;
        min-height: 364px;
}

@include media-breakpoint-up(md) {


    .alignfull.ghostkit-grid.ghostkit-grid-gap-no {
        padding-bottom: $spacer*4;
    }

    .ghostkit-col-with-bg {
        min-height: 576px;
    }

}


//******* pricing tiers *********//

.ghostkit-pricing-table-item-title {
    margin-left: 26px;
    color: $primary;
}

ul.ghostkit-pricing-table-item-features {
    li {
        margin-left: 26px;
        position: relative;
        &:before {
            position: absolute;
            left: -26px;
            font-family: FontAwesome;
            content: "\f058";
            color: $primary;
        }
    }
}

.ghostkit-pricing-table-item {
    height: 100%;
}

