// Responsive font sizing
html {
    font-size: 16px;
}

// Sets font size to 16px on form elements to prevent input zoom on mobile devices
@include media-breakpoint-down(sm) {
    .form-control {
        font-size: $font-size-base * 1.075;
    }
}

@include media-breakpoint-up(xxl) {
    html {
        font-size: 20px;
    }
}

// Global

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    -webkit-overflow-scrolling: touch;
    line-height: 1.2;
}

.font-family-body {
    font-family: $font-family-sans-serif;
}

.small, small {
    font-size: 90%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h1, .h1 {
    font-size: 1.7rem;
    line-height: 1.25;
}

h2, .h2 {
    font-size: 1.38rem;
    line-height: 1.2;
}

h3, .h3 {
    font-size: 1.25rem;
    line-height: 1.2;
}

h4, .h4 {
    font-size: 1.05rem;
    line-height: 1.2;
}

h5, .h5 {
    font-size: .8rem;
    line-height: 1.85;
}

p {
    margin-bottom: $spacer;
}

.lead-xl {
    font-size: 1.45rem;
    font-weight: 700;
}

.lead {
    font-size: 1.2rem;
    font-weight: 700;
}

.spaced-list {
    padding: 0 0 0 22px;
}

.spaced-list li {
    margin-bottom: .5rem;
}

.text-md {
    font-size: 90%;
}

.listing__filter-h {
    font-family: $font-family-serif;
    line-height: 1;
}

.listing__filter--h1 {
    font-size: .9rem;
}

.listing__filter--h2 {
    font-size: .85rem;
}

.list-unstyled li {
    padding-bottom: .25rem;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.list-unstyled {
    margin-bottom: 1rem;
}

@include media-breakpoint-up(lg) {

    h1, .h1 {
        font-size: 3.25rem;
        line-height: 1.185;
    }

    h2, .h2 {
        font-size: 2rem;
        line-height: 1.2;
    }

    h3, .h3 {
        font-size: 1.45rem;
        line-height: 1.2;
    }

    h4, .h4 {
        font-size: 1.28rem;
        line-height: 1.2;
    }

    h5, .h5 {
        font-size: .98rem;
        line-height: 1.2;
    }

    .lead-xl {
        font-size: 2rem;
        font-weight: 700;
    }

    .listing__filter--h1 {
        font-size: .85rem;
    }

    .listing__filter--h1 {
        font-size: .78rem;
    }

}

.hyphens--auto {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}